*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body{
	background-image: url(../img/background.png);
	background-size:100%;
}

.main {
	width: 1000px;
	height: 10000px;
	background-color: rgba(204, 0, 0);
	padding: 100px;
	text-align: left;
}

.main img{
	width: 150px;
}

.main h1 {
	font-size: 40px;
}

.main p {
	line-height: 2;
	color:#ffde59;
	font-size: 25px;
	font-weight:bold;
}

.main a {
	text-decoration: none;
	line-height: 1.5;
	font-size: 30px;
	color: white;
}

.main a:hover {
	color: #ffde59;
}

.main a.begin {
    font-size: 60px;
    color: #ffde59;
    font-weight: bold;
}

