*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body{
	background-image: url(../img/background.png);
	background-size:100%;
}

.main {
	width: 500px;
	height: 100vh;
	background-color: rgba(0, 91, 171, 0.5);
	padding: 100px;
	text-align: left;
}

.main img{
	width: 150px;
}

.main h1 {
	font-size: 40px;
}

.main p {
	line-height: 3;
	color:orange;
	font-size: 25px;
	font-weight:bold;
}

.main a {
	text-decoration: none;
	line-height: 3;
	font-size: 30px;
	color: white;
}

.main a:hover {
	color: orange;
}

.main a.begin {
    font-size: 60px;
    color: orange;
    font-weight: bold;
}

