<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>匿语阁 | BETA</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		
		<div class="main">
			<!--<img src="img/avatar.jpg">-->
			<h1>匿语阁 Babble</h1>
			<p>敢说 才酷</p>
			<p>公测版 BETA V6.1</p>
			<a href="https://docs.qq.com/doc/DTGtVbG9GYUFhUVpW">点击查看用户协议</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTGpBT0tuS0hob3VU">点击查看用户守则</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTEpDV0FRck5JU0dF">点击查看隐私政策</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTG5LV0pjbE1sWFBP">帖子被删？ 点击查看为什么</a>
			<p></p>
			<p>请务必在开始前仔细阅读以上内容</p>
			<a href="/message" class="begin">点击开始</a>
		</div>

	</body>
</html>
