<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>匿语阁内测版v4</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		
		<div class="main">
			<!--<img src="img/avatar.jpg">-->
			<h1>匿语阁 Babble</h1>
			<p>表白墙 不止表白</p>
			<p>#吐槽食堂饭 就上匿语阁#</p>
			<p>#嫌作业太多 就上匿语阁#</p>
			<p>#想聊真心话 就上匿语阁#</p>
			<p>今天 就上匿语阁</p>
			<p>内测版本 v4</p>
			<a href="https://docs.qq.com/doc/DTGtVbG9GYUFhUVpW">点击查看用户协议</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTGpBT0tuS0hob3VU">点击查看用户守则</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTEpDV0FRck5JU0dF">点击查看隐私政策</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTG5LV0pjbE1sWFBP">帖子被删？ 点击查看为什么</a>
			<p></p>
			<p>请务必在开始前仔细阅读以上内容</p>
			<a href="/message">阅读完毕后，点击开始</a>
		</div>

	</body>
</html>
