<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>匿语阁 | 新春版</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		
		<div class="main">
			<img src="static/img/LOGO.png">
			<h1>匿语阁 新春版</h1>
			<p>马到成功 就上匿语阁</p>
			<p>HWS初中同学线上表白墙<p>
			<a href="https://docs.qq.com/doc/DTGtVbG9GYUFhUVpW">点击查看用户协议</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTEpDV0FRck5JU0dF">点击查看隐私政策</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTGpBT0tuS0hob3VU">点击查看用户守则</a>
			<p></p>
			<a href="https://docs.qq.com/doc/DTG5LV0pjbE1sWFBP">帖子被删为什么</a>
			<p></p>
			<a href="https://wj.qq.com/s2/25550065/be52/">投诉举报疑问点这里</a>
			<p></p>
			<a href="/message" class="begin">点击开始</a>
		</div>

	</body>
</html>
